.PlanDetails .ShowDetails,
.PlanDetails__actions button {
  margin-bottom: 2rem;
}

.PlanDetails .PlanComments__container {
  margin-top: 2rem;
}

.PlanDetails__plan-actions {
  display: flex;
  justify-content: flex-end;
}

.PlanDetails__plan-actions > a {
  margin-right: 1rem;
}
