.PlanVersionHistory__list-container {
  position: relative;
  min-height: 100px;
  overflow: hidden;
}

.PlanVersionHistory__title {
  display: flex;
  align-items: flex-start;
}

.PlanVersionHistory__title .IconButton {
  margin-top: 1rem;
  color: #1EAEDB;
}

.PlanVersionHistory__title h3 {
  flex: 1;
}
