.UserPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.UserPanel__name {
  flex: 1;
  text-align: right;
  padding-right: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
}

.UserPanel__icon {
  color: #fff;
  background: #0066b3;
  border-radius: 50%;
  padding: 1.2rem 2rem;
  text-align: center;
}
