fieldset {
  padding: 0;
  border: 0;
  margin-bottom: 2rem;
}

input::-webkit-input-placeholder {
  font-style: italic;
}

input,
textarea {
  letter-spacing: .5pt;
  width: 100%;
}

textarea {
  resize: none;
}

form .error {
  background-color: #f8d7da;
  border-color: #721c24;
}
