html, body, #root, .full-height {
  height: 100%;
}

.text-italic {
  font-style: italic;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-danger {
  color: #721c24;
}

.text-success {
  color: #155724;
}

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
