{
  "extends": "airbnb",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    // rule is incompatible with the current version of airbnb config
    "jsx-a11y/href-no-hash": 0,
    // do not require .jsx extensions
    "react/jsx-filename-extension": 0,
    // do not require prop type validations
    "react/prop-types": 0,
    // do not require defaults for optional props
    "react/require-default-props": 0,
    // comma rules
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "ignore",
      "exports": "ignore",
      "functions": "ignore"
    }],
    "import/prefer-default-export": 0,
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "object-curly-newline": 0,
    "react/jsx-closing-tag-location": 0,
    "function-paren-newline": 0,
    "jsx-a11y/label-has-for": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
