.PlanListItem {
  display: flex;
}

.PlanListItem {
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

.PlanListItem__identifiers {
  flex: 1;
}

.PlanListItem .IconButton {
  margin-left: 6px;
}

.PlanListItem__RemoveButton {
  color: #DB0202;
}
