.PlansList {
  margin-bottom: 0;
}

.PlansList__header {
  display: flex;
  font-weight: bold;
}

.PlansList__identifier {
  margin-right: 1rem;
}

.PlansList__version {
  flex: 1;
}

.PlansListItem {
  display: flex;
  padding: .4rem .5rem;
  border-radius: 4px;
  margin-bottom: 0;
}

.PlansListItem__identifier a {
  cursor: pointer;
}

.PlansListItem .IconButton {
  margin-left: 6px;
}

.PlansListItem__RemoveButton {
  color: #DB0202;
}

.PlansListItem:hover {
  background-color: #eee;
  color: #1EAEDB;
}

.PlansListItem:hover a {
  color: #1EAEDB;
}
