.PlanCommentsListItem {
  padding: 1rem;
  border-radius: 2px;
}

.PlanCommentsListItem:nth-child(odd) {
  background-color: rgba(30, 174, 219, .2);
  border-bottom: 4px solid rgba(30, 174, 219, .5);
}

.PlanCommentsListItem--approved {
  background-color: rgba(79, 206, 29, 0.2) !important;
  border: 0 !important;
}

.PlanCommentsListItem--approved .fa-comment {
  color: rgba(79, 206, 29, 1);
}

.PlanCommentsListItem > div:first-child {
  margin-right: 2rem;
  color: #257491;
}

.PlanCommentsListItem__author_icon {
  color: #257491;
  margin-right: 1rem;
}

.PlanCommentsListItem__author a {
  color: #257491;
}

.PlanCommentsListItem button {
  width: 100%;
}

@media (min-width: 550px) {
  .PlanCommentsListItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .PlanCommentsListItem button {
    width: auto;
    margin-top: 1rem;
  }

  .PlanCommentsListItem__body {
    flex: 1;
    margin-right: .6rem;
  }
}
