.PageLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PageLayout__content {
  padding: 1.5rem 2.5rem;
  flex: 1;
}

.Header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.Footer {
  text-align: center;
}
