.PageLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PageLayout__content {
  flex: 1;
}

.Header {
  background-color: #fff;
  padding: 1rem 0;
}

.Header .row > .column:first-child {
  text-align: left;
}

.Header__logo {
  margin-right: 3rem;
  vertical-align: bottom;
}

.Header__title {
  font-size: 4rem;
  vertical-align: middle;
}

.Header a {
  text-decoration: none;
}

.Footer {
  background-color: #fff;
  padding: 2rem 0;
}
