.PageLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PageLayout__content {
  flex: 1;
}

.Header {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 0;
  flex-shrink: 0;
}

.Header__logo {
  margin-right: 1.2rem;
  vertical-align: bottom;
}

.Header__title {
  flex: 1;
  vertical-align: middle;
  white-space: nowrap;
}

.Header__title a {
  vertical-align: super;
  color: #0066b3;
  text-decoration: none;
}

.Footer {
  background-color: #fff;
  padding: 2rem 0;
}
