.LoadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: none;
  opacity: 0;
  visibility: hidden;

  background-color: rgba(255, 255, 255, .6);
}

.LoadingOverlay--visible {
  display: flex;
  justify-content: center;
  align-items: center;

  animation: .5s fadeIn ease-out;
  animation-fill-mode: both;
}

.LoadingOverlay__content {
  margin: auto;
  color: #333;
}

.LoadingOverlay__spinner {
  color: #33C3F0;
  margin-bottom: 1rem;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
